.profile {
    background-color: #F1F1F1;
    padding: 20px 15px;
}
.segment h2 {
    font-weight: 800;
    color: #868686;
    line-height: 40px;
    /* text-align: center; */
    font-size: 22px;
}
.segment > .col-md-4 {
    text-align: right;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    box-shadow: 0px 1px 3px #ccc;
    border: 1px solid #ccc;
}
.segment h4 {
    font-size: 18px;
    font-weight: bold;
    color: #FF015F;
    /* text-align: center; */
    line-height: 13px;
}
.segment h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #868686;
    line-height: 10px;
}
.img-profile {
    width: 150px;
    
    height: 150px;
    float: left;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid #ccc;
    background-image: url('../images/1435200145allowancefile.png');
        background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.col-md-12.segment {
       background-color: #F7F7F7;
    padding: 15px 16px 40px 16px;
    margin-bottom: 20px;
}
.segment h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #87AADE;
    margin-bottom: 20px;
    color: #3555A5;
}

.segment button.btn.btn-primary {
    background-color: #00C0EF;
    /* border-color: #003A48; */
    /* padding: 6px 16px; */
    font-weight: 800;
}
.segment button.btn.btn-default {
    font-weight: 800;
    color: #555;
    border-color: #ccc;
}
.contact {
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.contact h3 {
    font-size: 15px !important;
}
.contact .col-xs-4
{
	text-align: right;
	font-weight: 800;
	color: #555;
}
.contact > div.col-md-6 {
    padding: 14px;
  
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
}
.contact i.fa {
    font-size: 16px;
    padding-left: 9px;
    margin-right: 11px;
    color: #F00;
}
.eec > div{
	   /* border: 1px solid #ccc;*/
    display: inline-block;
    padding-top: 0px;
    margin-top: 0px;
}
.segment > .btn-group {
    margin-top: 10px;
}